# URL Interna do Back-end para o Proxy (Evita problemas de CORS)
# Localmente: http://localhost:3010 (porta padrão do back-end)
# Produção: https://sua-url-do-backend.onrender.com
BACKEND_INTERNAL_URL="http://localhost:3010"

# URL da página de login do sistema
NEXT_PUBLIC_LOGIN_URL="http://localhost:3000/login"
